{% extends 'base.html' %} {% block content %} {% load static %}
<section class="section-content padding-y bg">
  <div class="container">
    <!-- ============================ COMPONENT 1 ================================= -->
   
    <div class="row">
      <aside class="col-lg-6">
        <div class="card">
         <div class="card-body">
            <h4 class="card-title mb-4">Billing Address</h4>

            <form action="{% url 'place_order' %}" method="POST">
                {% csrf_token %}
                <div class="form-row mb-3">
                    <div class="col from-group">
                        <label for="">First Name</label>
                        <input type="text" class="form-control" name="first_name" placeholder="Enter Your Name">
                    </div>

                    <div class="col from-group">
                        <label for="">Last Name</label>
                        <input type="text" class="form-control" name="last_name" placeholder="Enter Your Last Name">
                    </div>
                </div>

                <div class="form-row  mb-3">
                    <div class="col from-group">
                        <label for="">Email Address</label>
                        <input type="email" class="form-control" name="email" placeholder="Enter Your email">
                    </div>

                    <div class="col from-group">
                        <label for="">phone Number</label>
                        <input type="text" class="form-control" name="phone" placeholder="Enter Your phone Number">
                    </div>
                </div>

                <div class="form-row  mb-3">
                    <div class="col from-group">
                        <label for="">Address Line 1</label>
                        <input type="text" class="form-control" name="address_line_1" placeholder="Enter Your address">
                    </div>

                    <div class="col from-group">
                        <label for="">Address Line 2</label>
                        <input type="text" class="form-control" name="address_line_2" placeholder="Enter Your address">
                    </div>
                </div>

                <div class="form-row  mb-3">
                    <div class="col from-group">
                        <label for="">City </label>
                        <input type="text" class="form-control" name="city" placeholder="Enter Your City">
                    </div>

                    <div class="col from-group">
                        <label for="">State</label>
                        <input type="text" class="form-control" name="state" placeholder="Enter Your state">
                    </div>

                    <div class="col from-group">
                        <label for="">Country</label>
                        <input type="text" class="form-control" name="country" placeholder="Enter Your country">
                    </div>
                </div>

                <div class="form-row">
                    <label for="">Order Note</label>
                   <textarea id="" cols="30" rows="4" name="order_note" class="form-control"></textarea>
                </div>           
         </div> 
        </div>

        <!-- card.// -->
      </aside>
      <!-- col.// -->
      <aside class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <table class="table table-borderless table-shopping-cart">
                <thead class="text-muted">
                  <tr class="small text-uppercase">
                    <th scope="col">Product</th>
                    <th scope="col" width="120">Quantity</th>
                    <th scope="col" width="120">Price</th>
                    <th scope="col" class="text-right" width="200"></th>
                  </tr>
                </thead>
                <tbody>
                  
                  {% for cart_item in cart_items %}
                 
                  <tr>
                    <td>
                      <figure class="itemside align-items-center">
                        <div class="aside">
                          <img src="{{cart_item.product.images.url}}" class="img-sm" />
                        </div>
                        <figcaption class="info">
                          <p  class="title text-dark"
                            >{{cart_item.product.product_name}}</p
                          >
                          <p class="text-muted small">
                            {% if cart_item.variations.all %}
                            {% for item in cart_item.variations.all %}
                            {{item.variation_category| capfirst}} : {{item.variation_value| capfirst}}
                            <br>
                            {% endfor %}
                            {% endif %}
                          </p>
                        </figcaption>
                      </figure>
                    </td>
                    <td>
                      <!-- col.// -->
                      <div class="col">
                        <div class="input-group input-spinner">
                          <div class="input-group-prepend">
                            <label for="">{{cart_item.quantity}}</label>
                          </div>
                        </div>
                        <!-- input-group.// -->
                      </div>
                      <!-- col.// -->
                    </td>
                    <td>
                      <div class="price-wrap">
                        <var class="price">$ {{cart_item.sub_total}}</var>
                        <small class="text-muted"> $ {{cart_item.product.price}} each </small>
                      </div>
                      <!-- price-wrap .// -->
                    </td>
                    
                  </tr>
                  {% endfor %}
                 
                </tbody>
                
              </table>
              <hr>
            <button type="submit" class="btn btn-primary btn-block">
              place Order
            </button>
            <a href="{% url 'store:store' %}" class="btn btn-light btn-block"
              >Continue Shopping</a
            >
          </div>
          <!-- card-body.// -->
        </form>
        </div>
        <!-- card.// -->
      </aside>
    
      <!-- col.// -->
    </div>
   
    <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
  </div>
  <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}
